<%- include("./common/header", { title: "Dashboard" }) %>


    <div class="col mt-5">
        <div class="row">
            <div class="col">
                <div class="card text-light bg-dark mb-3 text-center p-2" style="max-width: 18rem;">
                    <div class="card-header">Total Sales</div>
                        <div class="card-body">
                            <h5 class="card-title pt-3 pb-3">10</h5>
                            <p class="card-text"> <a href="courses.php" class="text-light"> View </a></p>
                        </div>
                    </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light mb-3 text-center p-2" style="max-width: 18rem;">
                    <div class="card-header">Total Pages</div>
                        <div class="card-body">
                            <h5 class="card-title pt-3 pb-3">4</h5>
                            <p class="card-text"> <a href="courses.php" class="text-dark"> View </a></p>
                        </div>
                    </div>
            </div>
            <div class="col">
                <div class="card text-white bg-secondary mb-3 text-center p-2" style="max-width: 18rem;">
                    <div class="card-header">Total Categories</div>
                        <div class="card-body">
                            <h5 class="card-title pt-3 pb-3">7</h5>
                            <p class="card-text"> <a href="courses.php" class="text-light"> View </a></p>
                        </div>
                    </div>
            </div>

        </div>


    </div>
    </div>
    </div>


    <%- include("./common/footer") %>