<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav mr-auto py-0">
        <a href="/" class="nav-item nav-link">Home</a>
        <a href="/shop" class="nav-item nav-link">Shop</a>
        <!-- <a href="/detail" class="nav-item nav-link">Shop Detail</a> -->
        <div class="nav-item dropdown">
            <a href="#" class="nav-link">Blog</a>
            <!-- <div class="dropdown-menu rounded-0 m-0">
                <a href="/cart" class="dropdown-item">Shopping Cart</a>
                <a href="/checkout" class="dropdown-item">Checkout</a>
            </div> -->
        </div>
        <a href="/contact" class="nav-item nav-link">Contact</a>
    </div>
    <div class="navbar-nav ml-auto py-0">
        <a href="" class="nav-item nav-link">Login</a>
        <a href="" class="nav-item nav-link">Register</a>
    </div>
</div>