<%- include("./partials/header", { title: "Homez Page" }) %>

    <% let name="Oking" ; %>
        <h1>
            EJS Template Engine <%= name %>
        </h1>

        <% function fun(a) { a } fun("Umair Ali"); %>


            <%- include("./partials/footer.ejs") %>