<%- include("../common/header", { title: "Add new post" }) %>

    <div class="col mt-5">
        <div class="row">
            <div class="col-6">
                <form action="//localhost:3000/admin/posts/new/publish" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Post Title</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="This is the title of my post" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Add content here...</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="description" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark"> Publish</button>
                </form>

            </div>
        </div>
    </div>
    </div>
    </div>





    <%- include("../common/footer") %>